/*Border radius ends here*/
.login {
  position: relative;
  width: 100%;
  height: 100%; }
  .login form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; }
  .login .login-cover {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    background: url("/istanbul.jpeg") center left no-repeat;
    background-size: cover;
    border-right: 1px solid; }
  .login .login-form-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*

    [class*="col-"] {
      margin-bottom: 10px;

      input {
        background: transparent;
      }
    }
    */ }
    .login .login-form-area .content-title {
      font-size: 33px;
      font-weight: 300;
      padding: 10px 15px;
      margin-bottom: 30px;
      position: relative;
      height: 100px; }
      .login .login-form-area .content-title:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background: black;
        left: 15px;
        top: 50px; }
