//Bootstrap

//Tooltip
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: inherit;
  letter-spacing: .5px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;
  line-break: auto;
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}

.dropdown-menu {
  margin: 1px 0 0;
  padding: 0;
  font-size: 12px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid $blue;
  @include border-radius(2px);
  //@_bootstrap box-shadow(0px 0px 4px rgba(0, 0, 0, 0.05));

  &.small {
    position: relative;
  }

  &.dropdown-menu-right {
    right: 0;
    left: auto;
  }

  &:after {
    content: '';
    border-bottom: 5px solid $blue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    font-size: 9px;
    color: $blue;
    top: -6px;
    right: 13px;
    @include border-radius(4px !important);
  }

  &.dropdown-select {
    &:after {
      content: '';
      border:none
    }
  }

  li {

    &.only-li {
      height: 40px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 0 15px 0 40px;
      cursor: pointer;

      &.no-icon {
        padding: 0 15px;
      }

      i {
        font-size: 13px;
        position: absolute;
        left: 15px;
        font-weight: bold;
      }
    }

    &:hover {
      background: #F5F5F5;
    }

    a {

      height: 40px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 0 15px 0 40px;
      cursor: pointer;


      i {
        font-size: 13px;
        position: absolute;
        left: 15px;
        font-weight: bold;
      }
    }

    &:first-child {
      @include border-radius-top(4px);
      a {
        @include border-radius-top(4px)
      }
    }

    &:last-child {
      @include border-radius-bottom(4px);
      a {
        @include border-radius-bottom(4px)
      }
    }


  }
}

.form-item {
  margin-bottom: 20px;
}

.pagination {
  display: block;
  float: right;
  margin: 10px;

  li {


    &.active {
      span {
        background: $blue;
        border-color: $blue;
      }
    }

  }
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;

  li {
    font-size: 10px;
    color: $blue;

    &.active {
      color: #1D2229;
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}