@import "../../../../_shared/styles/mixin";


.cover {
  height: 120px;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;


  > i.cover-bg-icon {
    position: absolute;
    bottom: 0px;
    right: 10px;
    line-height: 100px;
    font-size: 260px;
    color: rgba(0, 0,0, .03);
  }

  .cover-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
  }

  .buttons {
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;

    .digi-button {
      margin-left: 10px;
    }
  }

  .tab {
    position: absolute;
    bottom: 0;
    left: 0;

    ul {
      display: flex;
      flex-wrap: nowrap;

      li {
        //flex: 1 0 auto;
        width: 125px;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid transparent;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        line-height: 13px;
        @include transition(300ms all);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: $bg-color;
        }

        &.active {
          font-weight: bold;
          background: white;
          border-bottom: 1px solid $blue;
        }

        &:last-child {
          //border-right: none;
        }
      }
    }
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;

  li {
    font-size: 10px;
  }
}


.user-filter {
  position: relative;
  padding-bottom: 15px;

  .box {
    margin: 15px;
    padding: 15px 0;
    border: 1px solid rgba(0,0,0,.06);
    @include border-radius(4px);
  }

  hr {
    border-color: rgba(0,0,0,.06);
    margin: 15px 0;
  }

}