@import '../../_shared/styles/mixin';

.modal-side {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: $bg-color;
  z-index: 200;

  .modal-side-close {
    position: absolute;
    right: 20px;
    top: 20px;

  }

  .container {
    height: 100%;

    .col-md-7 {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 50px;

      .form-content {
        [class*="col-"] {
          padding: 5px;
          margin-bottom: 5px;

          input {
            background: transparent;
          }
        }
      }

      .content-title {
        width: 100%;
        font-size: 33px;
        font-weight: 300;
        padding: 10px 5px;
        margin-bottom: 30px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 100px;
          height: 1px;
          background: black;
          left: 5px;
          top: 50px;
        }
      }
    }

    .col-md-5 {
      background: white;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 0;

      table {
        caption {
          display: none;
        }
      }

      .content-title {
        width: 100%;
        font-size: 13px;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
      }
    }
  }

}


