/*Border radius ends here*/
.modal-side {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: #E5E7EB;
  z-index: 200; }
  .modal-side .modal-side-close {
    position: absolute;
    right: 20px;
    top: 20px; }
  .modal-side .container {
    height: 100%; }
    .modal-side .container .col-md-7 {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 50px; }
      .modal-side .container .col-md-7 .form-content [class*="col-"] {
        padding: 5px;
        margin-bottom: 5px; }
        .modal-side .container .col-md-7 .form-content [class*="col-"] input {
          background: transparent; }
      .modal-side .container .col-md-7 .content-title {
        width: 100%;
        font-size: 33px;
        font-weight: 300;
        padding: 10px 5px;
        margin-bottom: 30px;
        position: relative; }
        .modal-side .container .col-md-7 .content-title:before {
          content: '';
          position: absolute;
          width: 100px;
          height: 1px;
          background: black;
          left: 5px;
          top: 50px; }
    .modal-side .container .col-md-5 {
      background: white;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 0; }
      .modal-side .container .col-md-5 table caption {
        display: none; }
      .modal-side .container .col-md-5 .content-title {
        width: 100%;
        font-size: 13px;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
