@import "../../_styles/mixin";

.app-page-loading {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/loading.gif') center center no-repeat;
  padding-top: 200px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

