/*Border radius ends here*/
.mms-dashboard {
  padding: 30px; }
  .mms-dashboard .row.mms {
    margin-left: -15px !important;
    margin-right: -15px !important; }
    .mms-dashboard .row.mms [class*="col-"] {
      background: white;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height: 150px;
      margin: 15px;
      position: relative;
      cursor: pointer; }
      .mms-dashboard .row.mms [class*="col-"]:hover {
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07); }
      .mms-dashboard .row.mms [class*="col-"] > .title {
        font-size: 22px;
        font-weight: 100;
        position: absolute;
        top: 15px;
        left: 15px; }
      .mms-dashboard .row.mms [class*="col-"] > i {
        font-size: 40px;
        font-weight: 100;
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #F71C6C; }
      .mms-dashboard .row.mms [class*="col-"] > .count {
        font-size: 60px;
        font-weight: 100;
        position: absolute;
        bottom: 15px;
        right: 15px; }
        .mms-dashboard .row.mms [class*="col-"] > .count span {
          font-size: 15px; }
  .mms-dashboard .mms-title {
    width: 100%;
    padding: 5px 0;
    font-weight: 300;
    color: black;
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px; }
    .mms-dashboard .mms-title:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 60px;
      background: black;
      left: 0;
      bottom: 0; }
