/*Border radius ends here*/
.digi-treeview {
  width: auto;
  display: inline-block;
  height: 100%; }
  .digi-treeview li {
    font-size: 12px;
    padding: 2px 0;
    position: relative;
    display: block;
    cursor: pointer; }
    .digi-treeview li > a {
      text-decoration: none;
      font-size: 13px;
      line-height: 14px;
      position: relative;
      left: 15px;
      color: #1A77E8;
      -webkit-transition: 300ms all;
      -moz-transition: 300ms all;
      -o-transition: 300ms all;
      transition: 300ms all; }
      .digi-treeview li > a:before {
        display: block;
        background: rgba(19, 41, 75, 0.5);
        width: 0px;
        top: 8px;
        height: 1px;
        left: 0px;
        position: absolute;
        content: '';
        -webkit-transition: 300ms all;
        -moz-transition: 300ms all;
        -o-transition: 300ms all;
        transition: 300ms all; }
      .digi-treeview li > a:hover {
        padding-left: 20px; }
        .digi-treeview li > a:hover:before {
          display: block;
          background: rgba(19, 41, 75, 0.5);
          width: 15px;
          height: 1px;
          position: absolute;
          content: ''; }
    .digi-treeview li .menu-title {
      font-weight: bold;
      padding-left: 15px; }
      .digi-treeview li .menu-title i {
        font-size: 10px;
        margin-right: 3px;
        -webkit-transition: 300ms all;
        -moz-transition: 300ms all;
        -o-transition: 300ms all;
        transition: 300ms all;
        position: absolute;
        left: 0;
        top: 6px; }
    .digi-treeview li ul {
      margin-left: 20px;
      display: none; }
      .digi-treeview li ul li a {
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        position: relative;
        left: 15px;
        color: #1A77E8;
        -webkit-transition: 300ms all;
        -moz-transition: 300ms all;
        -o-transition: 300ms all;
        transition: 300ms all; }
        .digi-treeview li ul li a:before {
          display: block;
          background: rgba(19, 41, 75, 0.5);
          width: 0px;
          top: 8px;
          height: 1px;
          left: 0px;
          position: absolute;
          content: '';
          -webkit-transition: 300ms all;
          -moz-transition: 300ms all;
          -o-transition: 300ms all;
          transition: 300ms all; }
        .digi-treeview li ul li a:hover {
          padding-left: 20px; }
          .digi-treeview li ul li a:hover:before {
            display: block;
            background: rgba(19, 41, 75, 0.5);
            width: 15px;
            height: 1px;
            position: absolute;
            content: ''; }
    .digi-treeview li.open > .menu-title i {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .digi-treeview li.open > ul {
      display: block; }
    .digi-treeview li.none {
      display: none; }
