@import "../../_styles/mixin";

.app-footer {
    width: calc(100% - 50px);
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 50px;
    z-index: 4;
    background: #606470;

    ul {
        display: flex;
        height: 100%;

        li {
            //flex: 1 0 auto;
            width: 150px;
            height: 100%;
            text-align: left;
            border-right: 1px solid #323643;
            position: relative;
            cursor: pointer;
            font-size: 11px;
            line-height: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 10px;
            @include transition(300ms all);
            color: rgba(255, 255, 255, .6);
            font-weight: 200;

            &.active {
                font-weight: 400;
                background: linear-gradient(to bottom, #606470, #323643);
            }

            .close {
                position: absolute;
                height: 20px;
                width: 20px;
                top: -8px;
                right: 5px;
                background: linear-gradient(to bottom, #323643, #606470);
                border: 1px solid #323643;
                display: flex;
                align-items: center;
                justify-content: center;
                @include border-radius(4px);
                @include transition(300ms all);
                opacity: 0;

                &:hover {
                    svg {
                        color: #606470;
                    }
                }

                svg {
                    font-size: 13px;
                    color: rgba(255, 255, 255, .4);
                }
            }

            &:hover {
                background: #606470;

                .close {
                    opacity: 1;
                }
            }

        }
    }

}