/*Border radius ends here*/
.combo-box .title {
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  height: 20px;
  display: flex;
  align-items: center;
  color: #1D2229; }

.combo-box fieldset {
  position: relative; }

.combo-box .alpha-container {
  position: relative; }
  .combo-box .alpha-container .input-group {
    width: 100%;
    cursor: pointer; }
    .combo-box .alpha-container .input-group .select-arrow {
      position: absolute;
      height: calc(100% - 2px);
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      right: 0;
      z-index: 2;
      top: 1px;
      border-left: 1px solid #B4BBD0;
      cursor: pointer; }
    .combo-box .alpha-container .input-group .select-remove {
      position: absolute;
      height: 15px;
      width: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      right: 60px;
      z-index: 2;
      top: 19px;
      cursor: pointer;
      background: #93a4aa;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
      .combo-box .alpha-container .input-group .select-remove:hover {
        background: #9b9b9b; }
      .combo-box .alpha-container .input-group .select-remove i {
        font-size: 11px;
        color: white; }
    .combo-box .alpha-container .input-group .dropdown-menu {
      display: block;
      width: 100%;
      -webkit-border-top-right-radius: 0;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-topleft: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      animation-duration: 200ms;
      margin-top: -2px;
      transition: 200ms; }
      .combo-box .alpha-container .input-group .dropdown-menu i {
        opacity: .1; }
        .combo-box .alpha-container .input-group .dropdown-menu i.active {
          opacity: 1; }
      .combo-box .alpha-container .input-group .dropdown-menu li:hover i {
        opacity: 1; }
    .combo-box .alpha-container .input-group.select-open fieldset input {
      border: 1px solid #1A77E8;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .combo-box .alpha-container .input-group.select-open fieldset .select-arrow {
      border-left: 1px solid #B4BBD0; }
    .combo-box .alpha-container .input-group.data-active label.placeholder-label {
      font-size: 10px;
      letter-spacing: 0px;
      top: 5px; }
    .combo-box .alpha-container .input-group.error input {
      border-color: #F2405D; }
      .combo-box .alpha-container .input-group.error input:focus {
        border-color: #F2405D; }
  .combo-box .alpha-container label.placeholder-label {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    position: absolute;
    top: 19px;
    pointer-events: none;
    left: 11px;
    color: #93a4aa;
    height: auto;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    z-index: 1;
    cursor: text; }
  .combo-box .alpha-container input {
    width: 100%;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: normal;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
    box-sizing: border-box;
    border: 1px solid #B4BBD0;
    transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    font-size: 15px;
    line-height: 13px;
    color: #39495B;
    position: relative;
    height: 50px;
    padding: 0 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    z-index: 0; }
    .combo-box .alpha-container input:hover {
      outline: 0 none;
      border-color: #9399AC;
      box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2), 0 7px 5px -7px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2); }
    .combo-box .alpha-container input:focus {
      outline: 0 none;
      border-color: #0091D4;
      box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.2), 0 7px 5px -7px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
      z-index: 0; }
      .combo-box .alpha-container input:focus ~ label.placeholder-label {
        font-size: 10px;
        letter-spacing: 0px;
        top: 5px; }
    .combo-box .alpha-container input:disabled {
      background: #FBFCFE;
      box-shadow: none;
      cursor: not-allowed;
      pointer-events: none;
      color: #B4BBD0; }
      .combo-box .alpha-container input:disabled:focus {
        border-color: #E9EDF1;
        box-shadow: none; }
    .combo-box .alpha-container input:read-only {
      box-shadow: none;
      cursor: not-allowed;
      pointer-events: none; }
      .combo-box .alpha-container input:read-only:focus {
        border-color: #E9EDF1;
        box-shadow: none; }
  .combo-box .alpha-container .error-container {
    font-size: 10px;
    position: absolute;
    background: #F2405D;
    color: #fff;
    transition: 0.3s ease all;
    height: auto;
    padding: 2px 5px;
    z-index: 1;
    width: 100%;
    text-align: left;
    top: 55px;
    left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    .combo-box .alpha-container .error-container:after {
      content: '';
      position: absolute;
      left: 10px;
      top: -3px;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-bottom: 3px solid #F2405D; }
