/*Border radius ends here*/
.cover {
  height: 120px;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  overflow: hidden; }
  .cover > i.cover-bg-icon {
    position: absolute;
    bottom: 0px;
    right: 10px;
    line-height: 100px;
    font-size: 260px;
    color: rgba(0, 0, 0, 0.03); }
  .cover .cover-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px; }
  .cover .buttons {
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center; }
    .cover .buttons .digi-button {
      margin-left: 10px; }
  .cover .tab {
    position: absolute;
    bottom: 0;
    left: 0; }
    .cover .tab ul {
      display: flex;
      flex-wrap: nowrap; }
      .cover .tab ul li {
        width: 125px;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid transparent;
        position: relative;
        cursor: pointer;
        font-size: 12px;
        line-height: 13px;
        -webkit-transition: 300ms all;
        -moz-transition: 300ms all;
        -o-transition: 300ms all;
        transition: 300ms all;
        display: flex;
        align-items: center;
        justify-content: center; }
        .cover .tab ul li:hover {
          background: #E5E7EB; }
        .cover .tab ul li.active {
          font-weight: bold;
          background: white;
          border-bottom: 1px solid #1A77E8; }

.user-filter {
  position: relative;
  padding-bottom: 15px; }
  .user-filter .box {
    margin: 15px;
    padding: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .user-filter hr {
    border-color: rgba(0, 0, 0, 0.06);
    margin: 15px 0; }

.municipality-management-system {
  padding: 60px 0 0 310px;
  height: 100%; }
  .municipality-management-system .tabbed ul {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #eee; }
    .municipality-management-system .tabbed ul li {
      width: 150px;
      text-align: center;
      padding: 15px;
      border-right: 1px solid #eee;
      position: relative;
      cursor: pointer;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-transition: 300ms all;
      -moz-transition: 300ms all;
      -o-transition: 300ms all;
      transition: 300ms all; }
      .municipality-management-system .tabbed ul li.active {
        font-weight: bold;
        background: white; }
      .municipality-management-system .tabbed ul li .close {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 1;
        padding: 15px 5px 0 5px;
        display: none; }
        .municipality-management-system .tabbed ul li .close:hover {
          background: #fbfbfb; }
          .municipality-management-system .tabbed ul li .close:hover i {
            font-weight: bold; }
        .municipality-management-system .tabbed ul li .close i {
          font-size: 17px; }
      .municipality-management-system .tabbed ul li:hover {
        background: white;
        padding: 15px 25px 15px 15px; }
        .municipality-management-system .tabbed ul li:hover .close {
          display: block; }
