@import "../../_shared/styles/mixin";

.digi-sidebar-icon {
  position: fixed;
  left: 3px;
  top: 55px;
  height: calc(100% - 58px);
  width: 50px;
  z-index: 4;
  animation-duration: 400ms;
  background: #1A77E8;
  text-align: center;
  @include border-radius(2px);

  ul {
    li {

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        cursor: pointer;
        position: relative;

        span.count {
          @include border-radius(3px);
          @include box-shadow(0 3px 15px -3px rgba(230,230,230,0.67));
          background: $red;
          color:white;
          font-size: 8px;
          position: absolute;
          top:10px;
          right: 10px;
          padding: 2px 4px;
        }

        i {
          color: rgba(255,255,255, .4);
          font-size: 20px;
        }

        &:hover, &.active , &:active, &:focus{
          background: rgba(255,255,255,.2);
          text-decoration: none;

          i {
            color: white;
          }
        }
      }

      &:nth-child(1) {
        border-bottom: 1px solid rgba(255,255,255,.2);
      }

    }
  }
}
