/*Border radius ends here*/
.digi-table {
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%; }
  .digi-table table {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 2px 0; }
    .digi-table table.table-bordered {
      border: none; }
    .digi-table table caption {
      background: #FFF;
      padding: 0 10px;
      border: inherit;
      border-bottom: 0;
      font-size: 20px;
      text-align: left;
      position: relative; }
      .digi-table table caption .search {
        position: relative;
        width: 300px;
        display: inline-block;
        float: right; }
        .digi-table table caption .search input {
          position: relative;
          width: 100%;
          padding-left: 40px;
          height: 40px;
          margin-top: 10px;
          border-radius: 20px;
          border: 1px solid #E5E7EB; }
        .digi-table table caption .search i {
          position: absolute;
          left: 10px;
          top: 19px; }
      .digi-table table caption .icon-list {
        height: 60px;
        position: relative;
        display: inline-block;
        float: left; }
        .digi-table table caption .icon-list li {
          display: inline-flex;
          margin: 0 5px;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          line-height: 13px;
          cursor: pointer;
          background: white;
          height: 60px;
          width: 60px;
          -webkit-transition: 400ms all;
          -moz-transition: 400ms all;
          -o-transition: 400ms all;
          transition: 400ms all; }
          .digi-table table caption .icon-list li i {
            font-size: 35px;
            color: rgba(0, 0, 0, 0.4); }
          .digi-table table caption .icon-list li:hover {
            border-radius: 4px; }
            .digi-table table caption .icon-list li:hover i {
              color: rgba(0, 0, 0, 0.8); }
    .digi-table table thead th {
      height: 60px;
      min-height: 30px;
      vertical-align: middle;
      padding-left: 10px;
      border: none;
      border-top: 1px solid #E9EDF1;
      font-size: 9px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px; }
      .digi-table table thead th:first-child {
        border-left: none; }
      .digi-table table thead th.header-icon {
        border: none; }
    .digi-table table tbody tr {
      background: white;
      height: 60px; }
      .digi-table table tbody tr.row-hover:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.02); }
      .digi-table table tbody tr:last-child td {
        border-bottom: none; }
      .digi-table table tbody tr td {
        font-size: 13px;
        vertical-align: middle;
        border-color: rgba(0, 0, 0, 0.03);
        border-left: none !important; }
        .digi-table table tbody tr td.is-icon {
          text-align: center; }
          .digi-table table tbody tr td.is-icon:hover {
            background: #1A77E8;
            color: white;
            cursor: pointer; }
            .digi-table table tbody tr td.is-icon:hover i {
              color: white; }
        .digi-table table tbody tr td.no-click {
          cursor: not-allowed;
          pointer-events: none; }
      .digi-table table tbody tr i {
        color: #1A77E8;
        font-size: 17px;
        line-height: 17px;
        margin-top: 5px;
        -webkit-transition: 200ms all;
        -moz-transition: 200ms all;
        -o-transition: 200ms all;
        transition: 200ms all; }

.table-foot {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .table-foot [class*="col-"] {
    border: none !important;
    padding: 0; }
